.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(230, 223, 223);
  background-image: url(./assets//images/download.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;


}

.Auth-form {
  width: 420px;
  box-shadow: rgba(75, 66, 66, 0.048) 1px 1px 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #F5F5F5;
  overflow: hidden;
  width: 600px;
}

.Auth-form-content {
 

  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}